* {
    margin: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    font-family: 'Nunito sans', sans-serif;
}

body {
    height: 100vh;
    background-color: white;
}

section {
    max-width: 100vw;
    padding: 0 15rem;
}

#left-nav a:nth-child(4) {
    border-bottom: 8px solid #d23185;
}

/* RUNT OM */ 

#runt-om {
    min-height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(./img/diversity.jpeg);
    object-fit: cover;
}

#runt-om article {
    width: 800px;
    padding: 4em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
}

#runt-om h1 {
    padding-bottom: 0.5em;

    font-size: 6rem;
    font-weight: 800;
    color: black;
}

#runt-om input {
    width: 400px;
    padding: 1em;

    font-size: 2rem;
    border: 4px solid black;
}

#runt-om input:focus {
    outline: none;
}


/* MEDLEM */

#bli-medlem {
    height: max-content;
    margin: 3em;

    display: flex;
    justify-content: center;
    align-items: center;
}

#bli-medlem-container {
    width: 650px;
    padding: 5em;
    margin: 5em;
    margin-bottom: 10em;

    border: 5px solid rgb(228, 228, 228);
}

#bli-medlem-container h1 {
    padding-bottom: 0.5em;

    font-size: 3rem;
}

#bli-medlem-container p {
    padding: 0.5em 0;

    font-size: 2rem;
    font-weight: 100;
}

#bli-medlem-container p span {
    display: block;
}

#bli-medlem-container p span a {
    color: #d23185;
}

form {
    width: auto;
}

form h2 {
    margin-top: 2em;
    margin-bottom: 1em;

    font-size: 2rem;
}

.form-same-row {
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

#contact label {
    display: block;

    margin: 0.6em 0;
    
    font-size: 1.3rem;
    font-weight: 800;
    letter-spacing: 0.1em;
    color: rgb(212, 212, 212);
}

#contact input, select {
    width: 100%;
    padding: 1em 0 1em 1em;
    
    box-sizing: border-box;
    border: 2px solid rgb(167, 167, 167);
    outline: none;
}

#contact input:focus {
    box-shadow: 0 0 2px 2px rgb(199, 199, 199);
}

#donation input[type=radio] {
    width: 0;
    height: 0;

    opacity: 0;

    position: absolute;
}

#donation-value label, #medlem-button button {
    margin-right: 1em;
    padding: 1em;
    border-radius: 10px;
    
    display: inline-block;

    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: rgb(138, 138, 138);
    background-color: rgb(231, 231, 231);

    cursor: pointer;
}

#donation-value input[type=radio]:focus + label {
    background: #66c0ae;
    color: white;
}

/* PAYMENT TYPE */ 

#payment-type select {
    margin-bottom: 2em;
}

/* INTEGRITY */

#integrity h1 {
    padding-top: 1em;

    font-size: 2.5rem;
    border-top: 1px solid rgb(214, 214, 214);
}

#integrity p {
    padding: 0.5em 0;

    font-size: 1.6rem;
    font-weight: 100;
}

#integrity label {
    padding: 0.5em;

    font-size: 1.5rem;
    
    display: inline-block;
}

/* MEDLEM BUTTON */

#medlem-button button {
    margin: 0;
    margin-top: 1em;

    border: 2px solid transparent;   
}

#medlem-button button:hover {
    background: #66c0ae;
    color: white;
}


/* SUPPORT */

#support-fi {
    height: 900px;
    padding: 0;

    background-color: cadetblue;
}

#support-fi h1 {
    padding-bottom: 1em;

    font-size: 3.5rem;
}

#support-fi h2 {
    padding-bottom: 1em;

    font-size: 2.2rem;
}

#support-fi p {
    font-size: 2rem;
    font-weight: 100;
}

.support-row {
    max-width: 100vw;
    height: 50%;
    box-sizing: border-box;

    background-color: white;

    display: flex;
    justify-content: space-between;
}

.row-item {
    height: 100%;
    width: auto;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row-item > img {
    height: 100%;
    width: auto;
}

.row-item-text {
    padding: 4em;
}

#swish-img {
    width: 400px;
    height: auto;
}

.monthly-giver-link {
    width: max-content;
    margin-top: 2em;
    padding: 0.8em 3em;

    display: inline-block;
    
    font-size: 1.5rem;
    background-color: rgb(224, 224, 224);
    text-decoration: none;
    color: black;
}

.monthly-giver-link:hover {
    background-color: rgb(201, 201, 201);
}