* {
    margin: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    font-family: 'Nunito sans', sans-serif;
    font-weight: 100;
}

body {
    height: 100vh;
    background-color: white;
}

section {
    padding: 0 15rem;
}

#runt-om {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/diversity.jpeg);
    object-fit: cover;
}

#runt-om article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    padding: 4em;
    background-color: white;
}

#runt-om h1 {
    font-size: 6rem;
    font-weight: 800;
    color: black;
    padding-bottom: 0.5em;
}

#runt-om input {
    padding: 1em 8em 1em 1em;
    font-size: 2rem;
    border: 4px solid black;
}

#runt-om input:focus {
    outline: none;
    
}




#bli-medlem {
    min-height: max-content;
    margin: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bli-medlem-container {
    border: 5px solid rgb(228, 228, 228);
    width: 700px;
    padding: 5em;
    margin: 5em;
    box-sizing: border-box;
}

#bli-medlem-container h1 {
    font-size: 3rem;
    padding-bottom: 0.5em;
    
}

#bli-medlem-container > p {
    font-size: 2rem;
    padding: 0.5em 0;
}

#bli-medlem-container p span {
    display: block;
}

#bli-medlem-container p span a {
    color: #d23185;
}

form {
    width: auto;
}

form h2 {
    font-size: 2rem;
    margin: 1em 0;
}

#contact label {
    display: block;
    margin: 0.6em 0;
    font-size: 1.3rem;
    font-weight: 800;
    letter-spacing: 0.1em;
    color: rgb(212, 212, 212);
}

#contact input, select {
    width: 100%;
    padding: 1em 0 1em 1em;
    box-sizing: border-box;
    border: 2px solid rgb(167, 167, 167);
    outline: none;
}

#contact input:focus {
    box-shadow: 0 0 2px 2px rgb(199, 199, 199);
}

.form-same-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

.form-same-row div {
    width: 100%;
}

#donation input[type=radio] {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
}


#donation h2 {
    
}

#donation-value label {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: rgb(138, 138, 138);
    margin: 1em;
    padding: 1em;
    background-color: rgb(231, 231, 231);
}

#donation-value input[type=radio]:focus + label {
    background: #66c0ae;
    color: white;
}

#donation-value :nth-child(2) {
    margin-left: 0;
}

#integrity h1 {
    font-size: 2.5rem;
    padding-top: 1em;
    border-top: 1px solid rgb(214, 214, 214);
}

#integrity p {
    font-size: 1.6rem;
    padding: 0.5em 0;
}

#integrity label {
    font-size: 1.5rem;
    padding: 0.5em;
    display: inline-block;
}

/* SECTION SUPPORT */

#support-fi {
    padding: 0;
    height: 900px;
    background-color: cadetblue;
}

#support-fi h1 {
    font-size: 4rem;
    padding-bottom: 1em;
}

#support-fi h2 {
    font-size: 2.2rem;
    padding-bottom: 1em;
}

#support-fi p {
    font-size: 2rem;
    padding-bottom: 0;
}

.support-row {
    width: 100%;
    height: 50%;
    background-color: white;
    display: flex;
}

.row-item {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.row-item > img {
    height: 100%;
}

.row-item-text {
    padding: 4em;
}

#swish-img {
    width: 400px;
    height: auto;
    justify-self: flex-end;
}