/* NAVBAR */

* {
    font-family: 'Nunito sans', sans-serif;
}

nav {
    width: 100vw;
    height: auto;

    background-color: white;

    display: flex;
    justify-content: space-between;
}

/* LEFT NAV */

#logo-header {
    width: 80px;
    margin: 0 20px;
}

#left-nav {
    height: 120px;

    display: flex;
    justify-content: start;  
}

#left-nav a {
    width: max-content;
    padding: 0 2.2em;

    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #d23185;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

#left-nav a:hover {
    color: #d2318485;
    border-bottom: 8px solid #d2318457;
}


/* RIGHT NAV */

#right-nav {
    width: 310px;
    padding: 0 4em;

    font-weight: 100;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#right-nav label {
    width: max-content;
    cursor: pointer;
}

#right-nav div {
    overflow: hidden;
    display: flex;

    position: relative;
    right: 0;

    transition: 5s ease-in;
}

#right-nav a, #right-nav label {
    padding: 1em;

    font-size: 1.2rem;
    text-decoration: none;
}

#right-nav #search-bar {
    width: 0;
    opacity: 0;
    padding: 1em;

    border: none;
    border-bottom: 1px solid rgb(77, 77, 77);
    color: rgb(77, 77, 77);

    transition: 1.5s;

    position: absolute;
    z-index: 1;
}

#right-nav label:hover + #search-bar, 
#right-nav #search-bar:hover,
#right-nav #search-bar:focus {
    width: 280px;

    outline: none;
    opacity: 1;
}

#right-nav label:hover + #search-bar ~ div, 
#right-nav #search-bar:hover ~ div,
#right-nav #search-bar:focus ~ div {
    position: relative;
}

/* FOOTER */

#till-toppen {
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0.5;

    display: flex;
    justify-content: flex-end;

    position: sticky;
    bottom: 0rem;
}

#till-toppen a {
    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;
    text-decoration: none;
    background: #D23185;
    border-radius: 50%;
    color: white;

    position: relative;
    bottom: 12rem;
    right: 2rem;
  
}

#till-toppen i {
    padding: 2rem;

    transition: 0.2s;
}

#till-toppen i:hover {
    transform: scale(1.8);
}

footer {
    min-height: 200px;
    padding: 0 4rem;
    
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 200px 200px auto;
    
    background-color: pink;
}

.grid-items-footer {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


#logo-footer img {
    width: 100px;
    height: auto;
}


#contact-us h1 {
    font-size: 2rem;
}

#contact-us p {
    font-size: 1.5rem;
}

#sociala-medier {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#sociala-medier a {
    padding: 0.5em;
}

#sociala-medier a i {
    padding: 0.4em;

    font-size: 4rem;
    color: black;
    border-radius: 30px;
    background-color: rgb(255, 215, 221);
}

#sociala-medier a i:hover {
    color: #D23185;
}