/* NAVBAR */
* {
    font-family: 'Nunito sans', sans-serif;
}

nav {
    width: 100vw;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

#logo-header {
    width: 80px;
    margin: 0 20px;
}

#left-nav {
    height: 120px;
    display: flex;
    justify-content: start;
    
}

#left-nav a {
    width: max-content;
    font-size: 2.2rem;
    letter-spacing: 0.05em;
    font-weight: 600;
    text-decoration: none;
    padding: 0 2.2em;
    color: #d23185;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

#left-nav a:nth-child(n+2):hover {
    color: #d2318485;
    border-bottom: 8px solid #d2318457;
}

#right-nav {
    padding: 0 4em;
    font-weight: 100;
    display: flex;
    width: 310px;
    align-items: center;
    justify-content: flex-start;
}

#right-nav label {
    width: max-content;
    cursor: pointer;
}

#right-nav div {
    transition: 1s ease-in;
    position: relative;
    right: 0;
    display: flex;
}

#right-nav a, #right-nav label {
    padding: 1em;
    font-size: 1.2rem;
    text-decoration: none;
}

#right-nav #search-bar {
    width: 0;
    opacity: 0;
    transition: 1s;
    padding: 1em;
    border: none;
    border-bottom: 1px solid rgb(77, 77, 77);
    color: rgb(77, 77, 77);
}

#right-nav label:hover + #search-bar, 
#right-nav #search-bar:hover,
#right-nav #search-bar:focus {
    width: 400px;
    outline: none;
    opacity: 1;
}

#right-nav label:hover + #search-bar ~ div, 
#right-nav #search-bar:hover ~ div,
#right-nav #search-bar:focus ~ div {
    position: relative;
    right: -100vw;
}

/*
#right-nav label:focus ~ a, #right-nav #search-hidden:focus ~ a {
    display: none;
}



#right-nav .search:focus + .search-hidden, #right-nav .search-hidden:focus {
    
    flex-grow: 3;
    transform: scaleX(1.5);
    transform-origin: left; 
    
}

#right-nav .search:focus ~ a, #right-nav .search-hidden:focus ~ a {
    display: none;
}

*/

/* FOOTER */

#till-toppen {
    display: flex;
    position: sticky;
    bottom: 0rem;
    justify-content: flex-end;
    opacity: 0.5;
    height: 0;
    margin: 0;
    padding: 0;
    
}

#till-toppen a {
    width: 100px;
    height: 100px;
    font-size: 3rem;
    text-decoration: none;
    background: #D23185;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 12rem;
    right: 2rem;
  
}

#till-toppen i:hover {
    transform: scale(1.8);
}

#till-toppen i {
    padding: 2rem;
    transition: 0.2s;
}

footer {
    min-height: 200px;
    background-color: pink;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 200px 200px auto;
    padding: 0 4rem;
}

.grid-items-footer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
}


#logo-footer img {
    width: 100px;
    height: auto;
}


#contact-us h1 {
    font-size: 2rem;
}

#contact-us p {
    font-size: 1.5rem;
}

#sociala-medier {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#sociala-medier a {
    padding: 0.5em;
}

#sociala-medier a i {
    font-size: 4rem;
    color: black;
    padding: 0.4em;
    border-radius: 30px;
    background-color: rgb(255, 215, 221);
}

#sociala-medier a i:hover {
    color: #D23185;
}
