* {
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-image: url(./img/index-background.jpg);
    background-attachment: fixed;
    background-size: cover;
}





section {
    padding: 0 15rem;
}


/* INDEX SECTION 1 */

#framtiden-rosa {
    background-color: white;
    height: 100vh;
}

#framtiden-rosa h1 {
    font-size: 6rem;
}

#framtiden-rosa span {
    font-size: 10rem;
    display: block;
}


/* INDEX SECTION 2 */ 

#j-m-h {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.473);
    display: flex;
}

#j-m-h article {
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    justify-content: center;
    text-align: center;
}

#j-m-h h1, #j-m-h p {
    color: white;
    font-weight: 50;
}

#j-m-h h1 {
    font-size: 3rem;
    padding: 0.8em;
}

#j-m-h p {
    font-size: 1.6rem;
}

#j-m-h i {
    font-size: 4rem;
    color: white;
}


/* INDEX SECTION 3 */ 

#index-section-3 {
    height: 100vh;
    background-color: white;
}








