* {
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Nunito sans', sans-serif;
}

body {
    height: 100vh;
    background-color: white;
}

section {
    padding: 0 15rem;
}


/* INTRO */

#var-politik-intro {
    height: 400px;
    background-color: #66c0ae;
    display: flex;
    align-items: center;
    justify-content: center;
}

#var-politik-intro div {
    height: max-content;
    width: 800px;
    padding: 5em;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#var-politik-intro div h1 {
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
}

/* KLART VI KAN */

#klart-vi-kan {
    height: 800px;
}


#klart-vi-kan h1 {
    font-size: 6rem;
}

/* TYCKER OM */

#tycker-om {
    background-color: white;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tycker-om h1 {
    font-size: 5rem;
    text-align: center;
    padding: 4rem;
}

#tycker-om-grid {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 2.8rem;
}

#tycker-om-grid div {
    width: 150px;
    height: 150px;
    margin: 2rem;
    border-radius: 50%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
    transition: .3s;
    
}

#tycker-om-grid a {
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
    text-align: center;
    text-decoration: none;
}

#tycker-om-grid a span {
    display: block;
}

#tycker-om-grid div:hover {
    transform: scale(1.2);
}


#tycker-om-grid div:nth-of-type(6n+1) { 
    border: 4px solid rgba(255, 0, 0, 0.5);
}

#tycker-om-grid div:nth-of-type(6n+2) {
    border: 4px solid rgba(255, 166, 0, 0.5);
}

#tycker-om-grid div:nth-of-type(6n+3) {
    border: 4px solid rgba(255, 255, 0, 0.5);
}

#tycker-om-grid div:nth-of-type(6n+4) {
    border: 4px solid rgba(0, 128, 0, 0.5);
}

#tycker-om-grid div:nth-of-type(6n+5) {
    border: 4px solid rgba(0, 0, 255, 0.5);
}

#tycker-om-grid div:nth-of-type(6n+6) {
    border: 4px solid rgba(128, 0, 128, 0.5);
}



#hela-programmet {
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hela-programmet a {
    height: 20px;
    padding: 20px;
    border: 5px solid pink;
    font-size: 2rem;
    text-decoration: none;
    color: pink;
}

 #hela-programmet a:hover {
    transform: scale(1.1);
}