* {
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Nunito sans', sans-serif;
}

body {
    height: 100vh;
    background-color: white;
}

section {
    padding: 0 15rem;
}


#vart-parti-intro {
    height: 400px;
    background-color: #66c0ae;
    display: flex;
    align-items: center;
    justify-content: center;
}

#vart-parti-intro div {
    height: max-content;
    width: max-content;
    padding: 5em;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#vart-parti-intro h1 {
    font-size: 4rem;
    padding-bottom: 0.5em;
}

#vart-parti-intro p {
    font-size: 2rem;
    font-weight: 100;
}


#talespersoner {
    margin: 50px auto;
}

#talespersoner-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.talespersoner-items {
    display: flex;
    flex-direction: column;
    
    width: auto;
    height: auto;
}

.article-grid {
    display: grid;
    grid-auto-flow: column;
    margin: 1rem 0;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-grid img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    left: 6rem;
    box-shadow: 0px 0px 15px 2px rgba(61, 61, 61, 0.212);
}


.talespersoner-items h1, .talespersoner-items h2 {
    margin-left: 150px;
}

.talespersoner-items h1 {
    font-size: 1.5rem;
}

.talespersoner-items h2 {
    font-size: 2rem;
}

.article-text p {
    background-color: rgb(243, 243, 243);
    padding: 3rem 3rem 3rem 8rem;
    font-size: 1.5rem;
    font-weight: 100;
    
}